<div class="col-xs-3">

  <% if book.errors.any? %>
    <%= book.errors.count %>errors
    <% book.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>

  <h1>User info</h1>

    <%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: 'jpeg' ,fallback: "no_image.jpg" %>

    <table class="table">
      <tbody>
        <tr>
          <th>name</th>
          <th><%= user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= user.introduction %></th>
        </tr>
        <tr>
          <th>follows</th>
          <th><%= link_to user.follower.count, follower_path(user) %></th>
        </tr>
        <tr>
          <th>followers</th>
          <th><%= link_to user.followed.count, followed_path(user) %></th>
        </tr>
      </tbody>
    </table>
    <% if user == current_user %>
      <%= link_to "編集", edit_user_path(user.id) %>
    <% else %>
      <% unless user == current_user %>
            <% if current_user.following?(user) %>
              <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
            <% else %>
              <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
            <% end %>
          <% end %>
    <% end %>

    <% if @user.id == current_user.id %>
    <% else %>
      <% if @isRoom == true %>
        <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
      <% else %>
        <%= form_for @room do |f| %>
          <%= fields_for @entry do |e| %>
            <%= e.hidden_field :user_id, :value=> @user.id %>
          <% end %>
          <%= f.submit "チャットを始める" %>
        <% end %>
      <% end %>
    <% end %>

  <h1>New book</h1>

    <%= form_for(book) do |f| %>
    
      <h4>Title</h4>
      <%= f.text_field :title %>
      <h4>Opinion</h4>
      <%= f.label :prefecture, '都道府県' %><br>
      <%= f.select :prefecture, Book.prefectures.keys, {prompt: '選択してください'}, class: 'signup_input signup_input--prefecture error-form--prefecture' %>
      <div class="category-form">
        <%= f.label :category, 'カテゴリ' %><br>
          <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %> 
          <%= category.label do %>
            <%= category.check_box %>
            <%= category.text %>
          <% end %>
        <% end %>
      </div>
      <%= f.text_field :body, size: 10*3 %><br>
      <%= f.submit "Create Book" %>

    <% end %>

</div>